<div class="page-header">
  <h2>Contact List</h2>
</div>

<div class="row">
  <div class="col-md-3">
    <label for="contacts-search">Quick Find Contacts:</label>
  </div>
  <div class="col-md-5">
    <input
      type="text"
      class="form-control do-not-override"
      id="contacts-search"
      ng-model='contacts.search'
      placeholder="Type Here">
  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <a href="#edit">
        <button type="button" name="Add contacts" id="add-contact" class="btn btn-default">Add Contact</button>
      </a>
    </div>
  </div>
</div>
<br>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Contact No</th>
  </tr>
  <tr dir-paginate="con in contacts.list | filter: contacts.search | itemsPerPage: 5">
    <td ng-bind="con.id"></td>
    <td>
      <a ng-href="#edit/{{con.id - 1}}" ng-bind="con.firstname + ' ' + con.lastname"></a>
    </td>
    <td>
      <div ng-repeat="email in con.emails">
        <span class="itemname" ng-bind="email.type.name"></span>: <span ng-bind="email.value"></span>
      </div>
    </td>
    <td>
      <div ng-repeat="phone in con.phones">
        <span class="itemname" ng-bind="phone.type.name"></span>: <span ng-bind="phone.value"></span>
      </div>
    </td>
  </tr>
</table>

<dir-pagination-controls template-url="components/pagination.tpl.html"></dir-pagination-controls>
