<div class="page-header">
  <h2>Contact Form</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button type="button" ng-click="edit.save()" class="btn btn-default" id="add-contact">Add Contact</button>
    </div>
  </div>
</div>

<form id="edit-form" ng-submit="edit.save()" >

  <!-- First name -->
  <div class="row">
    <div class="col-md-2">
      <label for="firstname">First Name:</label>
    </div>
    <div class="col-md-10">
      <input type="text"
        class="form-control"
        ng-model="edit.contact.firstname"
        required
        id="firstname"
        placeholder="Enter the First Name">
    </div>
  </div>

  <!-- Last name -->
  <div class="row">
    <div class="col-md-2">
      <label for="lastname">Last Name:</label>
    </div>
    <div class="col-md-10">
      <input type="text"
        class="form-control"
        ng-model="edit.contact.lastname"
        required
        id="lastname"
        placeholder="Enter the Last Name">
    </div>
  </div>

  <!-- Emails -->
  <typed-list title="Email:"
    placeholder="Enter Email Address"
    type="email"
    types="edit.types"
    items="edit.contact.emails">
  </typed-list>

  <!-- Phones -->
  <typed-list title="Phone No:"
    placeholder="Enter Phone No"
    type="tel"
    types="edit.types"
    ontypechange="edit.setPhonePrefix"
    items="edit.contact.phones">
  </typed-list>

  <hr>
  <div class="pull-right">
    <button type="submit" class="btn btn-default">Save</button>
    <a href="#contacts">
      <button type="button" class="btn btn-default">Cancel</button>
    </a>
  </div>
</form>
