<div class="page-header">
  <h2>Contact List</h2>
</div>
<div class="pull-right">
  <button type="button" class="btn btn-default">Add contacts</button>
</div>

<form>
  <!-- First name -->
  <div class="form-group">
    <label for="first-name">First name:</label>
    <input type="text" class="form-control" ng-model="edit.contact.firstname" placeholder="Enter the First Name">
  </div>
  <!-- Last name -->
  <div class="form-group">
    <label for="last-name">Last name:</label>
    <input type="text" class="form-control" ng-model="edit.contact.lastname" placeholder="Enter the Last Name">
  </div>

  <!-- Email -->
  <div class="page-header">
    <h5>Email
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-circle" ng-click="edit.addEmail()">+</button>
      </div>
    </h5>
  </div>

  <div class="inline-group" ng-repeat="email in edit.contact.emails">
    <span class="input-group-btn">
      <select class="form-control"
        ng-options="type.name for type in edit.types track by type.value"
        ng-model="email.type">
      </select>
    </span>
    <span class="input-group-btn">
      <input type="text" class="form-control" ng-model="email.value" ng-required placeholder="Enter Email Address">
    </span>
    <span class="input-group-btn">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-circle" ng-click="edit.removeEmail($index)">-</button>
      </div>
    </span>
  </div>

  <!-- Phone -->
  <div class="page-header">
    <h5>Phone
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-circle" ng-click="edit.addPhone()">+</button>
      </div>
    </h5>
  </div>

  <div class="inline-group" ng-repeat="phone in edit.contact.phones">
    <span class="input-group-btn">
      <select class="form-control"
        ng-options="type.name for type in edit.types track by type.value"
        ng-model="phone.type"
        ng-change="edit.setPhonePrefix($index)">
      </select>
    </span>
    <span class="input-group-btn">
      <input type="text" class="form-control" ng-model="phone.value" ng-required placeholder="Enter Phone No">
    </span>
    <span class="input-group-btn">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-circle" ng-click="edit.removePhone($index)">-</button>
      </div>
    </span>
  </div>

  <div class="pull-right">
    <button type="button" ng-click="edit.save()" class="btn btn-default">Save</button>
    <a href="#contacts">
      <button type="button" class="btn btn-default">Cancel</button>
    </a>
  </div>
</form>
