/******************************************************************

Forms

Based on: Bones - github.com/eddiemachado/bones

******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
// input,
select,
textarea,
.form-control:not(.do-not-override),
.field {
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 1px 3px 1px 0px #dddddd;
  border-radius: 0; // Specifing for inputs
  border: 0;
  outline: 1px solid #CCC;
  color: $text-color;
  font-family: $font;
}

#edit-form {
  background: $light-gray;
  padding: 50px;
}

.row {
  padding-bottom: 10px;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}
